@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap');

body {
	font-family: 'Comfortaa', cursive;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #f4f1de;
	line-height: 1rem;
}

.main-container,
.info-container {
	display: flex;
	justify-content: center;
	text-align: center;
}

.info-container {
	margin: 2rem 0;
}

.persons-container {
	display: grid;
	justify-content: center;
	text-align: center;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2rem;
	margin: 2rem 4rem;
}

.person-stats {
	background-color: #81b29a;
	border-radius: 1.5rem;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	font-size: 1rem;
}

.total-stats {
	background-color: #e07a5f;
	border-radius: 1.5rem;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	font-size: 1rem;
}

.person-stats > h2 {
	font-weight: 800;
}

.person-stats__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.input-container {
	display: grid;
	justify-content: center;
	margin-bottom: 4rem;
}

.top-words-container {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 4rem;
}

.words {
	background-color: #eae869;
	border-radius: 1.5rem;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	font-size: 1rem;
}

.chart-container {
	display: grid;
	justify-content: center;
	text-align: center;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 4rem;
}

input {
	font-size: 1rem;
	font-family: 'Comfortaa', cursive;
}

input::file-selector-button {
	background-color: #3d405b;
	color: #fff;
	font-size: 1.2rem;
	font-weight: bold;
	width: 12rem;
	height: 4rem;
	font-family: 'Comfortaa', cursive;
	border-radius: 1rem;
	border: 0;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	transition: all 0.4s;
}

input::file-selector-button:hover {
	cursor: pointer;
	background-color: #53577a;
}

input::file-selector-button:active {
	transform: scale(0.95);
}

@media (max-width: 2560px) {
	html {
		font-size: 18px;
	}

	.total-stats {
		width: calc((100% - 36rem) / 3);
	}

	.persons-container {
		margin: 2rem 16rem;
	}

	.words {
		width: calc((100% - 36rem) / 3);
	}

	.chart-wrapper {
		width: 49vw;
		height: 400px;
		margin-bottom: 16rem;
	}
}

@media (max-width: 1920px) {
	html {
		font-size: 16px;
	}

	.total-stats {
		width: calc((100% - 12rem) / 3);
	}

	.persons-container {
		margin: 2rem 4rem;
	}

	.words {
		width: calc((100% - 12rem) / 3);
	}

	.chart-wrapper {
		width: 49vw;
		height: 400px;
		margin-bottom: 6rem;
	}
}

@media (max-width: 1440px) {
	html {
		font-size: 16px;
	}

	.total-stats {
		width: calc((100% - 12rem) / 3);
	}

	.persons-container {
		margin: 2rem 4rem;
	}

	.words {
		width: calc((100% - 12rem) / 3);
	}

	.chart-wrapper {
		width: 49vw;
		height: 280px;
		margin-bottom: 6rem;
	}
}

@media (max-width: 1024px) {
	html {
		font-size: 16px;
	}

	.total-stats {
		width: calc((100% - 10rem) / 2);
	}

	.persons-container {
		grid-template-columns: 1fr 1fr;
		margin: 2rem 4rem;
	}

	.words {
		width: calc((100% - 10rem) / 2);
	}

	.chart-container {
		grid-template-columns: 1fr;
	}

	.chart-wrapper {
		width: 99vw;
		height: 400px;
		margin-bottom: 8rem;
	}

	.chart-wrapper:last-of-type {
		margin-bottom: 6rem;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 16px;
	}

	.total-stats {
		width: calc((100% - 6rem) / 2);
	}

	.persons-container {
		grid-template-columns: 1fr 1fr;
		margin: 2rem 2rem;
	}

	.words {
		width: calc((100% - 6rem) / 2);
	}

	.chart-container {
		grid-template-columns: 1fr;
	}

	.chart-wrapper {
		width: 99vw;
		height: 380px;
		margin-bottom: 1rem;
	}

	.chart-wrapper:last-of-type {
		margin-bottom: 0;
	}
}

@media (max-width: 425px) {
	.total-stats {
		width: calc(100% - 2rem);
	}

	.persons-container {
		grid-template-columns: 1fr;
		margin: 2rem 1rem;
	}

	.words {
		width: calc(100% - 2rem);
	}

	html {
		font-size: 14px;
	}

	.chart-container {
		grid-template-columns: 1fr;
	}

	.chart-wrapper {
		width: 99vw;
		height: 200px;
		margin-bottom: 1.3rem;
	}

	.chart-wrapper:last-of-type {
		margin-bottom: 0;
	}
}
